@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to Timeless Treasures
    </h1>
    <p>Browse for a your favourite timepieces</p>
</div>
